* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(59, 59, 59);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    transform-style: preserve-3d;
    animation: rotation 5s linear infinite;
}

.box span {
    color: #fff;
    display: flex;
    font-size: 2.5rem;
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
    transform-style: preserve-3d;
    text-shadow: 0 5px 15px rgba(0, 0, 0.0, 0.25);
    /*nous allons faire une rotation par rapport a l'axe*/
    transform: translate(-50%, -50%) rotateX(calc(var(--a) * 30deg)) translateZ(100px);
    animation: text-animation 5s linear forwards;
}

span p {
    margin-right: 10px;
    background-color: rgb(255, 0, 0);
    padding: 0 5px;
    border: 2px solid #fff;
}

/**creation de l'animation **/
@keyframes rotation {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotate(25deg);
    }

    100% {
        transform: perspective(1000px) rotateX(360deg) rotate(25deg);
    }
}

@keyframes text-animation {
    0% {
        font-size: 0;
    }

    0% {
        font-size: 0;
    }

}